@import '~antd/dist/antd.css';
@import 'react-toastify/dist/ReactToastify.css';



* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bgcolor: #c41d7f
}

header {
    background-color     : var(--bgcolor);
    display              : grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 32%));
    gap                  : 1%;
    padding              : 1%;
}

.logo {
    width: 25%;
}


.headerbuttons {
    width: fit-content;
}

.cascader {
    width: 100%;
}

button {
    font-size       : 1.8vw;
    color           : white;
    background-color: transparent;
    border          : none;
    cursor          : pointer;
}

.carousel {
    height: 35vh;
}

.carousel div {

    width: 100%;
}

.carousel div img {
    width       : 100%;
    height      : 34vh;
    aspect-ratio: 1.6;
}



.brand {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap                  : 2%;
    margin-bottom        : 5%;
}

img {
    width: 50%;
}

.phone {
    text-align: center;
    word-wrap : break-word;
    font-size : 1.2vw;
    cursor    : pointer;
}

strong {
    font-size: 2vw;
}

.buttons {
    background-color: var(--bgcolor);
    color           : white;
}

.login {
    margin         : 5% auto;
    border         : groove var(--bgcolor);
    width          : 75%;
    padding        : 1%;
    display        : flex;
    justify-content: space-between;
    box-shadow     : 10px 10px var(--bgcolor);

}

.login>div {
    width  : 50%;
    padding: 1%;
}

.loginposter img {
    width: 100%;
}

main h4 {
    font-size : 2vw;
    text-align: center;

}

.phone p {
    color: green;
}

.cartmain {
    padding: 1%;
    border : solid;
}

.cartmain>div {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(318px, 45%));
    gap                  : 1%;
}

.cartdetails {
    background-color: var(--bgcolor);
    padding         : 5%;
    border-radius   : 2%;
}

.text {
    color    : #ffffff;
    font-size: 1.5vw;
}


.cartmain h1 {
    letter-spacing: 1.2px;
}

.noofitems {
    color: #008000;
}

.cartlist {
    font-weight: bold;
    border     : groove;
    padding    : 1%;
    overflow   : auto;
    height     : 60vh;
}

.price {
    color    : green;
    font-size: 1.1vw;

}


.cartlist p {
    text-align: left;
    width     : fit-content;
    font-size : 1.1vw;

}

.deleteicon {
    cursor   : pointer;
    color    : red;
    font-size: 1.1vw;

}

.textarea {
    font-size: 1.2vw;
}


.cartdetails form>div {
    display        : flex;
    justify-content: space-between;
}

input[type=submit] {
    width           : 100%;
    font-size       : 2vw;
    background-color: #008000;
    color           : white;
    cursor          : pointer;
}